USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Salary] [decimal](18, 2) NULL,
	[CreatedDate] [datetime] NULL,
	[DepartmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name]) VALUES (1, N'HR')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (2, N'IT')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (3, N'Finance')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Email], [Salary], [CreatedDate], [DepartmentId]) VALUES (3, N'kamlesha pal', N'bhushanmute2001@gmail.com', CAST(12121212.00 AS Decimal(18, 2)), CAST(N'2026-02-09T11:09:24.987' AS DateTime), 1)
INSERT [dbo].[Employees] ([Id], [Name], [Email], [Salary], [CreatedDate], [DepartmentId]) VALUES (4, N'ewew', N'bhushanmute2001@gmail.com', CAST(1212121212.00 AS Decimal(18, 2)), CAST(N'2026-02-09T11:09:46.180' AS DateTime), 3)
INSERT [dbo].[Employees] ([Id], [Name], [Email], [Salary], [CreatedDate], [DepartmentId]) VALUES (5, N'Darshan Kumar', N'DarshanKumar@gmail.cpm', CAST(2222.00 AS Decimal(18, 2)), CAST(N'2026-02-09T11:14:36.430' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [CreatedDate]) VALUES (1, N'admin', N'$2a$11$PMigMH9XwF.DHmhSVLusWO.H6fmjWX2NUqWgOXIX9.DCgLj2bONve', CAST(N'2026-02-09T10:15:49.687' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [CreatedDate]) VALUES (2, N'4343434', N'$2a$11$Xv2mfnifxgSG.lNjJWQhg.AztSzjjIEwVUOvZZwXjWfwdu/wvpeb.', CAST(N'2026-02-09T11:13:39.087' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4EA574F75]    Script Date: 09-02-2026 11:32:46 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddEmployee]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddEmployee]
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @DepartmentId INT,
    @Salary DECIMAL(18,2)
AS
BEGIN
    INSERT INTO Employees (Name, Email, DepartmentId, Salary, CreatedDate)
    VALUES (@Name, @Email, @DepartmentId, @Salary, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEmployee]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteEmployee]
(
    @Id INT
)
AS
BEGIN
    DELETE FROM Employees WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEmployees]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllEmployees]  
AS  
BEGIN  
    SELECT 
        e.Id,
        e.Name,
        e.Email,
        e.Salary,
        e.CreatedDate,
        e.DepartmentId,
        d.Name AS DepartmentName
    FROM Employees e
    LEFT JOIN Departments d ON e.DepartmentId = d.Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDepartments]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetDepartments]
AS
BEGIN

    SELECT Id, Name FROM Departments ORDER BY Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeById]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetEmployeeById]
    @Id INT
AS
BEGIN
    SELECT 
        e.Id,
        e.Name,
        e.Email,
        e.Salary,
        e.DepartmentId,
        d.Name AS DepartmentName
    FROM Employees e
    LEFT JOIN Departments d ON e.DepartmentId = d.Id
    WHERE e.Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByUsername]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserByUsername]
    @Username NVARCHAR(50)
AS
BEGIN
    SELECT Id, Username, PasswordHash
    FROM Users
    WHERE Username = @Username
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUser]  
(
    @Username NVARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        SELECT NULL AS Id, NULL AS Username, NULL AS PasswordHash, 'Username does not exist' AS Message;
        RETURN;
    END

    SELECT Id, Username, PasswordHash, 'Username exists' AS Message
    FROM Users
    WHERE Username = @Username;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterUser]    
    @Username NVARCHAR(50),     
    @PasswordHash NVARCHAR(255) 
AS 
BEGIN  
    SET NOCOUNT ON;     

    -- Check if username exists
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        -- Return a specific error code for duplicate
        RETURN -1
    END      

    -- Insert new user
    INSERT INTO Users (Username, PasswordHash)
    VALUES (@Username, @PasswordHash)

    -- Return success
    RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmployee]    Script Date: 09-02-2026 11:32:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateEmployee]
    @Id INT,
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @DepartmentId INT,
    @Salary DECIMAL(18,2)
AS
BEGIN
    UPDATE Employees
    SET 
        Name = @Name,
        Email = @Email,
        DepartmentId = @DepartmentId,
        Salary = @Salary
    WHERE Id = @Id
END
GO
