USE [EmployeeDb]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[TransactionId] [nvarchar](100) NOT NULL,
	[OrderId] [nvarchar](100) NOT NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CompletedDate] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[CardNumber] [nvarchar](max) NULL,
	[BankName] [nvarchar](50) NULL,
	[IFSCCode] [nvarchar](11) NULL,
	[AccountNumber] [nvarchar](20) NULL,
	[UpiId] [nvarchar](255) NULL,
	[WalletName] [nvarchar](50) NULL,
	[WalletPhone] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](450) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[RevokedDate] [datetime2](7) NULL,
	[ReplacedByToken] [nvarchar](450) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[Provider] [nvarchar](50) NOT NULL,
	[GoogleId] [nvarchar](100) NULL,
	[FacebookId] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SocialId] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [CreatedDate], [ModifiedDate]) VALUES (1, N'IT', CAST(N'2026-02-14T14:15:48.0466667' AS DateTime2), CAST(N'2026-02-14T14:15:48.0466667' AS DateTime2))
INSERT [dbo].[Departments] ([Id], [Name], [CreatedDate], [ModifiedDate]) VALUES (2, N'HR', CAST(N'2026-02-14T14:15:48.0500000' AS DateTime2), CAST(N'2026-02-14T14:15:48.0500000' AS DateTime2))
INSERT [dbo].[Departments] ([Id], [Name], [CreatedDate], [ModifiedDate]) VALUES (3, N'Sales', CAST(N'2026-02-14T14:15:48.0500000' AS DateTime2), CAST(N'2026-02-14T14:15:48.0500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Email], [DepartmentId], [Salary], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (1, N'John Doe', N'john@example.com', 1, CAST(75000.00 AS Decimal(10, 2)), CAST(N'2026-02-14T14:15:48.0500000' AS DateTime2), CAST(N'2026-02-21T03:21:14.0766667' AS DateTime2), 0)
INSERT [dbo].[Employees] ([Id], [Name], [Email], [DepartmentId], [Salary], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (2, N'Jane Smith', N'jane@example.com', 1, CAST(65000.00 AS Decimal(10, 2)), CAST(N'2026-02-14T14:15:48.0500000' AS DateTime2), CAST(N'2026-02-21T03:30:19.7266667' AS DateTime2), 1)
INSERT [dbo].[Employees] ([Id], [Name], [Email], [DepartmentId], [Salary], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (3, N'Bob Johnson', N'bob@example.com', 3, CAST(70000.00 AS Decimal(10, 2)), CAST(N'2026-02-14T14:15:48.0533333' AS DateTime2), CAST(N'2026-02-14T14:15:48.0533333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiryDate], [CreatedDate], [IsRevoked], [RevokedDate], [ReplacedByToken]) VALUES (2, 1, N'sQwPBk0VsoQ8rRbJWOh14UruPeF0lAbEAs7TPnPyduKgsf0CtlmWtmkWfe7kjMZuwa7jkUGAnZ8+08wUx8byzA==', CAST(N'2026-02-27T16:40:38.0566667' AS DateTime2), CAST(N'2026-02-20T16:41:13.6176979' AS DateTime2), 0, NULL, NULL)
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiryDate], [CreatedDate], [IsRevoked], [RevokedDate], [ReplacedByToken]) VALUES (3, 2, N'Hju0i2n3icZ+hMusfKZa5flUVk46W/VS2R9g94Y22XVAmsEjCaM5lt5AlVNYA4IH9ykwLIypzdAQgvMsanHfeA==', CAST(N'2026-02-27T17:12:31.3566667' AS DateTime2), CAST(N'2026-02-20T17:12:31.3608226' AS DateTime2), 0, NULL, NULL)
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiryDate], [CreatedDate], [IsRevoked], [RevokedDate], [ReplacedByToken]) VALUES (4, 2, N'ff4dVQzK0xW0RD7ygf3rNEH3nS70Ri6De7NQ5y+iCAhpQjZaUcehXk5MyCowDMB2k/C+CBFVEt8q89aCYRpiGA==', CAST(N'2026-02-27T17:20:13.1800000' AS DateTime2), CAST(N'2026-02-20T17:20:15.7664896' AS DateTime2), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedDate]) VALUES (1, N'Admin', N'Administrator role', CAST(N'2026-02-14T14:15:48.0500000' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedDate]) VALUES (2, N'User', N'Regular user role', CAST(N'2026-02-14T14:15:48.0500000' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedDate]) VALUES (3, N'Manager', N'Manager role', CAST(N'2026-02-14T14:15:48.0500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [Provider], [GoogleId], [FacebookId], [CreatedDate], [ModifiedDate], [IsActive], [SocialId]) VALUES (1, N'fff', N'bhushanmite2001@gmail.com', N'$2a$11$ARTCHQS3IXWt.j6KiD2AzeJEYKgXtwrj58WWd5YPpNtf4ob4HqHWG', N'Local', NULL, NULL, CAST(N'2026-02-20T16:40:18.0200000' AS DateTime2), CAST(N'2026-02-20T16:40:18.0200000' AS DateTime2), 1, NULL)
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [Provider], [GoogleId], [FacebookId], [CreatedDate], [ModifiedDate], [IsActive], [SocialId]) VALUES (2, N'rrrr', N'bhushanmite200@gmail.com', N'$2a$11$tCRdX4XRtTBznjvXyt//T.Ui4BfL.Mzte0/ZqJ3.oys4M7qXHjJme', N'Local', NULL, NULL, CAST(N'2026-02-20T17:12:31.1700000' AS DateTime2), CAST(N'2026-02-20T17:12:31.1700000' AS DateTime2), 1, NULL)
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [Provider], [GoogleId], [FacebookId], [CreatedDate], [ModifiedDate], [IsActive], [SocialId]) VALUES (3, N'bhushanmute2001@gmail.com', N'bhushanmute2001@gmail.com', NULL, N'Facebook', NULL, N'1618009066058622', CAST(N'2026-02-20T23:10:50.4300000' AS DateTime2), CAST(N'2026-02-20T23:10:50.4300000' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__737584F6C53D1951]    Script Date: 21-02-2026 09:06:20 AM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D105340620D9C6]    Script Date: 21-02-2026 09:06:20 AM ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Payments__55433A6A77C6BA17]    Script Date: 21-02-2026 09:06:20 AM ******/
ALTER TABLE [dbo].[Payments] ADD UNIQUE NONCLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Payments__C3905BCE1B9699AA]    Script Date: 21-02-2026 09:06:20 AM ******/
ALTER TABLE [dbo].[Payments] ADD UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RefreshT__1EB4F817DFE99D7B]    Script Date: 21-02-2026 09:06:20 AM ******/
ALTER TABLE [dbo].[RefreshTokens] ADD UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F6EE99398B]    Script Date: 21-02-2026 09:06:20 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E40501D3DA]    Script Date: 21-02-2026 09:06:20 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105344A8AB310]    Script Date: 21-02-2026 09:06:20 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('INR') FOR [Currency]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  CONSTRAINT [DF_RefreshTokens_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  CONSTRAINT [DF_RefreshTokens_IsRevoked]  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Local') FOR [Provider]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Employees]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDepartment]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddDepartment]
    @Name NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        INSERT INTO [dbo].[Departments] ([Name], [CreatedDate], [ModifiedDate])
        VALUES (@Name, GETUTCDATE(), GETUTCDATE());
        
        SELECT SCOPE_IDENTITY() AS [Id];
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AddEmployee]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddEmployee]
    @Name NVARCHAR(150),
    @Email NVARCHAR(200),
    @DepartmentId INT,
    @Salary DECIMAL(10, 2)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        INSERT INTO [dbo].[Employees] ([Name], [Email], [DepartmentId], [Salary], [CreatedDate], [ModifiedDate], [IsActive])
        VALUES (@Name, @Email, @DepartmentId, @Salary, GETUTCDATE(), GETUTCDATE(), 1);
        
        SELECT SCOPE_IDENTITY() AS [Id];
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_CleanExpiredTokens]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Clean Expired Tokens (for maintenance)
CREATE PROCEDURE [dbo].[sp_CleanExpiredTokens]
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM RefreshTokens
    WHERE ExpiryDate < DATEADD(DAY, -30, GETUTCDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePayment]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreatePayment]
    @EmployeeId INT,
    @Amount DECIMAL(10, 2),
    @OrderId NVARCHAR(100),
    @TransactionId NVARCHAR(100),
    @Description NVARCHAR(255),
    @PaymentMethod NVARCHAR(50),
    @PaymentStatus NVARCHAR(50),
    @CardNumber NVARCHAR(MAX) = NULL,
    @BankName NVARCHAR(50) = NULL,
    @IFSCCode NVARCHAR(11) = NULL,
    @AccountNumber NVARCHAR(20) = NULL,
    @UpiId NVARCHAR(255) = NULL,
    @WalletName NVARCHAR(50) = NULL,
    @WalletPhone NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO [dbo].[Payments] (
        [EmployeeId], [Amount], [OrderId], [TransactionId], [Description], 
        [PaymentMethod], [PaymentStatus], [CardNumber], [BankName], [IFSCCode],
        [AccountNumber], [UpiId], [WalletName], [WalletPhone], [CreatedDate], [ModifiedDate]
    )
    VALUES (
        @EmployeeId, @Amount, @OrderId, @TransactionId, @Description,
        @PaymentMethod, @PaymentStatus, @CardNumber, @BankName, @IFSCCode,
        @AccountNumber, @UpiId, @WalletName, @WalletPhone, GETUTCDATE(), GETUTCDATE()
    );
    
    SELECT [Id], [EmployeeId], [Amount], [OrderId], [TransactionId], [PaymentStatus], [CreatedDate]
    FROM [dbo].[Payments]
    WHERE [Id] = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDepartment]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteDepartment]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM [dbo].[Departments]
    WHERE [Id] = @Id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEmployee]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteEmployee]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[Employees]
    SET [IsActive] = 0,
        [ModifiedDate] = GETUTCDATE()
    WHERE [Id] = @Id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEmployees]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllEmployees]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        e.[Id],
        e.[Name],
        e.[Email],
        e.[DepartmentId],
        d.[Name] AS [DepartmentName],
        e.[Salary],
        e.[CreatedDate],
        e.[ModifiedDate]
    FROM [dbo].[Employees] e
    INNER JOIN [dbo].[Departments] d ON e.[DepartmentId] = d.[Id]
    WHERE e.[IsActive] = 1
    ORDER BY e.[Name];
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetDepartmentById]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDepartmentById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT [Id], [Name], [CreatedDate]
    FROM [dbo].[Departments]
    WHERE [Id] = @Id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetDepartments]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDepartments]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT [Id], [Name], [CreatedDate]
    FROM [dbo].[Departments]
    ORDER BY [Name];
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeById]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetEmployeeById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        e.[Id],
        e.[Name],
        e.[Email],
        e.[DepartmentId],
        d.[Name] AS [DepartmentName],
        e.[Salary],
        e.[CreatedDate],
        e.[ModifiedDate]
    FROM [dbo].[Employees] e
    INNER JOIN [dbo].[Departments] d ON e.[DepartmentId] = d.[Id]
    WHERE e.[Id] = @Id AND e.[IsActive] = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentById]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPaymentById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT [Id], [EmployeeId], [Amount], [TransactionId], [OrderId], [PaymentStatus], [PaymentMethod], [Currency], [Description], [CreatedDate], [CompletedDate]
    FROM [dbo].[Payments]
    WHERE [Id] = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentByOrderId]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPaymentByOrderId]
    @OrderId NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT [Id], [EmployeeId], [Amount], [TransactionId], [OrderId], [PaymentStatus], [PaymentMethod], [Currency], [Description], [CreatedDate], [CompletedDate]
    FROM [dbo].[Payments]
    WHERE [OrderId] = @OrderId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentByTransactionId]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPaymentByTransactionId]
    @TransactionId NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT [Id], [EmployeeId], [Amount], [TransactionId], [OrderId], [PaymentStatus], [PaymentMethod], [Currency], [Description], [CreatedDate], [CompletedDate]
    FROM [dbo].[Payments]
    WHERE [TransactionId] = @TransactionId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentsByEmployee]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPaymentsByEmployee]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT [Id], [EmployeeId], [Amount], [TransactionId], [OrderId], [PaymentStatus], [PaymentMethod], [Currency], [Description], [CreatedDate], [CompletedDate]
    FROM [dbo].[Payments]
    WHERE [EmployeeId] = @EmployeeId
    ORDER BY [CreatedDate] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPendingPayments]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPendingPayments]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT [Id], [EmployeeId], [Amount], [TransactionId], [OrderId], [PaymentStatus], [PaymentMethod], [Currency], [Description], [CreatedDate]
    FROM [dbo].[Payments]
    WHERE [PaymentStatus] = 'Pending'
    ORDER BY [CreatedDate];
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetRefreshToken]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================
-- Get Refresh Token
-- ============================================
CREATE   PROCEDURE [dbo].[sp_GetRefreshToken]
(
    @Token NVARCHAR(450)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        UserId,
        Token,
        ExpiryDate,
        CreatedDate,
        IsRevoked,
        RevokedDate,
        ReplacedByToken
    FROM dbo.RefreshTokens
    WHERE Token = @Token;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalPaymentsByEmployee]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTotalPaymentsByEmployee]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT SUM([Amount]) AS TotalAmount
    FROM [dbo].[Payments]
    WHERE [EmployeeId] = @EmployeeId AND [PaymentStatus] IN ('Completed', 'Refunded');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByEmail]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetUserByEmail]
    @Email NVARCHAR(256)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Email, PasswordHash 
    FROM dbo.Users
    WHERE Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT [Id], [Username], [Email], [Provider], [CreatedDate]
    FROM [dbo].[Users]
    WHERE [Id] = @Id AND [IsActive] = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByRefreshToken]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserByRefreshToken]
(
    @RefreshToken NVARCHAR(500)
)
AS
BEGIN

    SELECT U.Id, U.Username, U.Email
    FROM Users U
    INNER JOIN RefreshTokens R
        ON U.Id = R.UserId
    WHERE R.Token = @RefreshToken
    AND R.ExpiryDate > GETUTCDATE()

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserRoles]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserRoles]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT r.[Id], r.[Name], r.[Description]
    FROM [dbo].[Roles] r
    INNER JOIN [dbo].[UserRoles] ur ON r.[Id] = ur.[RoleId]
    WHERE ur.[UserId] = @UserId
    ORDER BY r.[Name];
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Username NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT [Id], [Username], [Email], [PasswordHash], [Provider]
    FROM [dbo].[Users]
    WHERE [Username] = @Username AND [IsActive] = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterUser]
    @Username NVARCHAR(50),
    @Email NVARCHAR(200),
    @PasswordHash NVARCHAR(255),
    @Provider NVARCHAR(50) = 'Local'
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF EXISTS (
            SELECT 1
            FROM [dbo].[Users]
            WHERE [Username] = @Username OR [Email] = @Email
        )
        BEGIN
            RETURN -1; -- Duplicate user
        END

        INSERT INTO [dbo].[Users]
        (
            [Username],
            [Email],
            [PasswordHash],
            [Provider],
            [CreatedDate],
            [ModifiedDate]
        )
        VALUES
        (
            @Username,
            @Email,
            @PasswordHash,
            @Provider,
            GETUTCDATE(),
            GETUTCDATE()
        );

        RETURN 1; -- Success

    END TRY
    BEGIN CATCH
        RETURN 0; -- Error
    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RevokeAllUserTokens]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================
-- Revoke All User Tokens
-- ============================================
CREATE   PROCEDURE [dbo].[sp_RevokeAllUserTokens]
(
    @UserId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.RefreshTokens
    SET
        IsRevoked = 1,
        RevokedDate = SYSUTCDATETIME()
    WHERE UserId = @UserId
    AND IsRevoked = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RevokeRefreshToken]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================
-- Revoke Single Token
-- ============================================
CREATE   PROCEDURE [dbo].[sp_RevokeRefreshToken]
(
    @Token NVARCHAR(450),
    @ReplacedByToken NVARCHAR(450) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.RefreshTokens
    SET
        IsRevoked = 1,
        RevokedDate = SYSUTCDATETIME(),
        ReplacedByToken = @ReplacedByToken
    WHERE Token = @Token
    AND IsRevoked = 0;  -- prevent double revoke
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveRefreshToken]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================
-- Save Refresh Token
-- ============================================
CREATE   PROCEDURE [dbo].[sp_SaveRefreshToken]
(
    @UserId INT,
    @Token NVARCHAR(450),
    @ExpiryDate DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.RefreshTokens
    (
        UserId,
        Token,
        ExpiryDate,
        CreatedDate,
        IsRevoked
    )
    VALUES
    (
        @UserId,
        @Token,
        @ExpiryDate,
        SYSUTCDATETIME(),
        0
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SocialLogin]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SocialLogin]
    @Email NVARCHAR(200),
    @Provider NVARCHAR(50),
    @SocialId NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserId INT;

    SELECT @UserId = Id
    FROM Users
    WHERE Email = @Email;

    IF @UserId IS NOT NULL
    BEGIN

        -- Update based on provider
        IF @Provider = 'Google'
        BEGIN
            UPDATE Users
            SET
                GoogleId = @SocialId,
                Provider = @Provider,
                ModifiedDate = getdate()
            WHERE Id = @UserId;
        END

        ELSE IF @Provider = 'Facebook'
        BEGIN
            UPDATE Users
            SET
                FacebookId = @SocialId,
                Provider = @Provider,
                ModifiedDate = getdate()
            WHERE Id = @UserId;
        END

    END
    ELSE
    BEGIN

        INSERT INTO Users
        (
            Username,
            Email,
            PasswordHash,
            Provider,
            GoogleId,
            FacebookId,
            CreatedDate,
            ModifiedDate
        )
        VALUES
        (
            @Email,
            @Email,
            NULL,
            @Provider,
            CASE WHEN @Provider = 'Google' THEN @SocialId ELSE NULL END,
            CASE WHEN @Provider = 'Facebook' THEN @SocialId ELSE NULL END,
            getdate(),
            getdate()
        );

        SET @UserId = SCOPE_IDENTITY();

    END

    SELECT
        Id,
        Username,
        Email,
        Provider,
        GoogleId,
        FacebookId
    FROM Users
    WHERE Id = @UserId;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDepartment]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateDepartment]
    @Id INT,
    @Name NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[Departments]
    SET [Name] = @Name,
        [ModifiedDate] = GETUTCDATE()
    WHERE [Id] = @Id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmployee]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateEmployee]
    @Id INT,
    @Name NVARCHAR(150),
    @Email NVARCHAR(200),
    @DepartmentId INT,
    @Salary DECIMAL(10, 2)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[Employees]
    SET [Name] = @Name,
        [Email] = @Email,
        [DepartmentId] = @DepartmentId,
        [Salary] = @Salary,
        [ModifiedDate] = GETUTCDATE()
    WHERE [Id] = @Id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePaymentStatus]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePaymentStatus]
    @Id INT,
    @PaymentStatus NVARCHAR(50),
    @TransactionId NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[Payments]
    SET [PaymentStatus] = @PaymentStatus,
        [CompletedDate] = CASE WHEN @PaymentStatus = 'COMPLETED' THEN GETUTCDATE() ELSE [CompletedDate] END,
        [ModifiedDate] = GETUTCDATE()
    WHERE [Id] = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 21-02-2026 09:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUser]
    @Id INT,
    @Email NVARCHAR(200),
    @Username NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[Users]
    SET [Email] = @Email,
        [Username] = @Username,
        [ModifiedDate] = GETUTCDATE()
    WHERE [Id] = @Id;
END;

GO
